<%= render 'shared/user_header' %>
	<table class="profile round">
		<tr>
			<td>
				<div class="gravatar"><%= gravatar_for @user, :size => 75 %></div>
				<h2>User Profile:</h2>
					<ul>
						<li><b>Name:</b>  <%= @user.name %></li>
						<li><b>Email:</b>  <%= @user.email %></li>
						<li><b>Last Signed In:</b>  
						  <%= (@user.last_sign_in_at.to_formatted_s(
						:long_ordinal)).gsub! /\d\d\:\d\d/, '' %></b>
						<% unless @event.nil? %>
						<li><b>Last Event:</b>  <%= @event.name %></li>
						<li><b>Date of Last Event:</b>  <%= (@event.created_at.to_formatted_s(
						:long_ordinal)).gsub! /\d\d\:\d\d/, '' %></li>
						<% end %>
						<li><b>Computers:</b>  <%= @user.computers %></li>
						<li><b>Other devices:</b>  <%= @user.devices %></li>
						<li><b>Company Name:</b>  <%= @user.company %></li>
					</ul><br />
				<div class="create_link">
					<%= link_to new_button, new_event_path %>
				</div>
			</td>
			<td>
				<h2>Notifications and Notes:</h2>
			</td>
		</tr>
		<tr>
			<td>
			<h2><b>Gravatar Information</b></h2>
				<p>Would you like to add or change your profile picture?  Gravatar is an 	
					easy and efficient way to manage profile pictures across member 	 
					websites.  Just visit <%= link_to "gravatar.com", 
					"http://gravatar.com" %>.</p>
			</td>
		</tr>
	</table>
<%= render 'shared/bottom_links' %>