<%= render 'shared/header' %>
<table class="welcome round">
	<tr>
		<td>
			<p><b>Technology by Design</b>, a local IT firm based in
				Billings, MT, has a built a reputation on reliable, 
				customer-focused service.  As a part of that service,
				we offer a wide variety of ways for our clients to get 
				IT help.  Our online support application is a convenient
				way for our clients to get the help they need in a 
				quick and concise manner. <p> If you would like more
				information about <b>Technology by Design</b> please
				visit our website at <%= link_to "techbydsn.com",
				"www.techbydsn.com" %>.</p>
			<h2>Follow our two easy steps for online support...</h2>
		</td>
<td>
<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <p><%= f.label :email %><br />
  <%= f.email_field :email %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <% if devise_mapping.rememberable? -%>
    <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
  <% end -%>

  <p><%= f.submit "Sign in" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
</td>
<%= render 'shared/third_column'%>
</tr>
</table>
<%= render 'shared/bottom_links' %>