<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<p><b>An Event has been created by <%= @user.name %>, 
			here are the details:</b></p>
			<p><b>Event Name:  </b><%= @event.name %></p>
			<p><b>Event Details:  </b><%= @event.content %></p>
			<p><b>Computer Info:  </b><%= @event.computer_info %></p>
			<p><b>OS:  </b><%= @event.os_type %></p>
			<p><b>Antivirus:  </b><%= @event.antivirus %></p>
			<p><b>Contact Info:  </b><%= @event.contact %></p>
			<p><b>Availability:  </b><%= @event.availablity %></p>
			<p><b>Ticket Id:  </b><%= @event.id %></p>
	</body>
</html>